# BEGIN WordPress
# Las directivas (líneas) entre "BEGIN WordPress" y "END WordPress" son
# generados dinámicamente, y sólo deben ser modificados a través de los filtros de WordPress.
# Cualquier cambio en las directivas entre estos marcadores se sobrescribirá.

# END WordPress

php_value upload_max_filesize 600M
php_value post_max_size 600M
php_value memory_limit 256M
php_value max_execution_time 300
php_value max_input_time 300
